<form method="POST" action="/newcar">
  <h1>New Car:</h1>


  <div class="">

    placeholder

  </div>
  <label for="type">Car 1</label>
  <input type="text" id="type" name="">
  <label for="desc">Car 2</label>
  <input type="text" id="desc" name="">


  <button>Submit</button>
</form>